<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<mapper namespace="cliente">
    <select id="obtenerClientes" resultType="pojo.Cliente">
        SELECT * FROM Cliente;
    </select>
    
    <insert id="insertarCliente" parameterType="pojo.Cliente">
        INSERT INTO Cliente (
        nombre, 
        apellidoPaterno, 
        apellidoMaterno, 
        correo, 
        telefono, 
        calle, 
        colonia, 
        cp, 
        numero
        ) 
        VALUES (
        #{nombre}, 
        #{apellidoPaterno}, 
        #{apellidoMaterno}, 
        #{correo}, 
        #{telefono}, 
        #{calle}, 
        #{colonia}, 
        #{cp}, 
        #{numero}
        );
    </insert>
    
    <update id="actualizarCliente" parameterType="pojo.Cliente">
        UPDATE Cliente 
        SET 
        nombre = #{nombre}, 
        apellidoPaterno = #{apellidoPaterno}, 
        apellidoMaterno = #{apellidoMaterno}, 
        correo = #{correo}, 
        telefono = #{telefono}, 
        calle = #{calle}, 
        colonia = #{colonia}, 
        cp = #{cp}, 
        numero = #{numero}
        WHERE 
        id = #{id};
    </update>
    
    <delete id="eliminarCliente" parameterType="int">
        DELETE FROM Cliente 
        WHERE id = #{id};
    </delete>
    
</mapper>