<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">
    <select id="envios" resultType="pojo.Envio" >
        SELECT e.*, CONCAT(c.nombre, " ", c.apellidoPaterno, " ", c.apellidoMaterno) AS colaborador, CONCAT(t.nombre, " ", t.apellidoPaterno, " ", t.apellidoMaterno) AS cliente, t.correo, t.telefono, s.Estatus as estatus
        FROM Envio e
        INNER JOIN Colaborador c ON e.idColaborador = c.id
        INNER JOIN Cliente t ON e.idCliente = t.id
        INNER JOIN Estatus s ON e.idEstatus = s.id;
    </select>
    
    <insert id="insertar" parameterType="pojo.Envio">
        INSERT (numeroGuia, calle, colonia, numero, cp, ciudad, costo, destino, motivo) 
        INTO Envio VALUES (#{numeroGuia}, #{calle}, #{colonia}, #{numero}, #{cp}, #{ciudad}, #{costo}, #{destino}, #{motivo});
    </insert>
    
    <select id="obtenerPorNoGuia" resultType="pojo.Envio">
        SELECT * FROM Envio WHERE numeroGuia = #{numeroGuia};
    </select>
    
    <select id="obtenerEnviosColaborador" resultType="pojo.Envio" parameterType="int">
        SELECT e.*, CONCAT(c.nombre, " ", c.apellidoPaterno, " ", c.apellidoMaterno) AS colaborador, CONCAT(t.nombre, " ", t.apellidoPaterno, " ", t.apellidoMaterno) AS cliente, t.correo, t.telefono, s.Estatus as estatus
        FROM Envio e
        INNER JOIN Colaborador c ON e.idColaborador = c.id
        INNER JOIN Cliente t ON e.idCliente = t.id
        INNER JOIN Estatus s ON e.idEstatus = s.id
        WHERE c.id = #{idColaborador};  
    </select>
    
    <update id="actualizarEstatus" >
        UPDATE Envio SET idEstatus = #{idEstatus} WHERE id = #{id};    
    </update>
    
</mapper>